/* product CSS */
@import url(main.css);

.product {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-items: center;
  gap: 4em;
  margin: 2.5em 0;
}

.product .price {
  display: flex;
  flex-basis: 55%;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  border: var(--border);
  border-radius: var(--border-radius);
}

.product .price h2 {
  font-size: 2.5em;
}

.product .price p {
  font-size: 5.5em;
  font-weight: 700;
}

.product .price p spam{
  font-size: 0.5em;
}

.product figure {
  flex-basis: 35%;
  height: 100%;
  & img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.description{
  max-width: 1000px;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.description h3{
  font-size: 2.5em;
  text-transform: uppercase;
}
.description p{
  font-size: 1.2em;
}